body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #333333, #cccccc);
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #444444;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1, h2 {
    color: white;
    text-align: center;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4b0082;
}

input[type="file"] {
    margin-top: 10px;
    color: white;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.messages li {
    background-color: #e2e3e5;
    color: #383d41;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
